{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
 
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.4.10/leaflet.draw.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.4.10/leaflet.draw.css' rel='stylesheet' />
    
{% endblock %}


{% block content %}

<div class='container'>
  <div class='row'>
    <div id="mapid" style='height: 600px' class='col-lg-8'></div>


    <div class='col-lg-4'>
      <br>
      <div class='form-popup' id='polygon_form' style="display: none;">
      <form action="" id='pol_form' method="POST" class='form-container'>
        <label for="form.name">Сохранить полигон? </label>
        {% csrf_token %}
        {{ form|crispy }}
      <br>
      <input type="submit" class='btn btn-primary' value='Сохранить'>
      <button type='submit' class='btn btn-secondary cancel' onclick='closeForm()'>Отмена</button>
    </form>

  </div>
</div>
</div>
</div>

{% endblock %}

