{% extends 'base.html' %}

{% block content %}


<h1>{{ user.username }}</h1>
<br>
<br>

{% if user.userprofile.paid %}
<h4>Текущий статус: Активен</h4>
<br>
<h4>Профиль активен до: {{ user.userprofile.expiration_date }}</h4>

{% else %}
<h4>Текущий статус: Неактивен</h4>

{% endif %}
<br>
<h4>Ваши полигоны:</h4>
<a href="{% url 'data:map' %}" role='button' class='btn btn-primary' >Добавить полигон</a>
<br>
<br>

<form action="{% url 'data:search' %}">
    <input name='q' type="text" placeholder="Search...">
    <input type="submit" class='btn btn-primary btn-sm' value='Найти'>
</form>
<br>
<div class='container'>
<table class='table thead-light'>
    <thead class='thead-light'>
        <tr>
            <th scope='col'>#</th>
            <th scope='col'>Название</th>
            <th scope='col'>Тип объявления</th>
            <th scope='col'>Площадь MIN</th>
            <th scope='col'>Площадь MAX</th>
            <th scope='col'></th>
            <th scope='col'>Разовая<br>выгрузка<br>за месяц</th>
            <th scope='col'></th>
        </tr>
    </thead>
        {% for pol in user.polygon.all %}
 
        
        <tr>
            <th scope='row'>{{ forloop.counter }}</td>
            <th>{{ pol.name }}</th>
            <td>{{ pol.ads_type }}</td>
            <td>{{ pol.min_area }}</td>
            <td>{{ pol.max_area }}</td>

            <td><a href="{% url 'data:update' pk=pol.pk %}" class='btn btn-primary btn-sm'>Изменить</a></td>
            
            <td><a href="{% url 'data:get_df_now' pk=pol.pk %}" class='btn btn-primary btn-sm'>Отправить</a></td>

            <td><a href="{% url 'data:remove' pk=pol.pk %}" class='btn btn-secondary btn-sm'>Удалить</a></td>
        </tr>

        {% endfor %}


    
</table>
</div>


{% endblock %}