{% extends 'base.html' %}

{% block content %}

<div class='container'>
    <div class='jumbotron'>

        <h2>{{ user.username }}</h2>
        <br>

        {% if user.profile.paid %}
        <h5>Текущий статус: Активен</h5>
        <h5>Профиль активен до: {{ user.profile.expiration_date }}</h5>

        {% else %}
        <h5>Текущий статус: Неактивен</h5>
        {% endif %}
    </div>

<div class='row'>
    <div class='col-lg-4'>
<h6>Добавить полигон:</h6>
<a href="{% url 'data:map' %}" role='button' class='btn btn-primary' >Карта</a>
<a href="{% url 'data:import' %}" role='button' class='btn btn-primary' >Импорт JSON</a>
</div>
<br>
<br>
<div class='col-lg-5'>
<br>
<form action="{% url 'data:search' %}" class='form-inline'>

        <input name='q' type="text" class="form-control" placeholder="Поиск полигона...">
        <input type="submit" class='btn btn-primary' value='Найти'>

</form>
</div>
</div>
<br>
<table class='table thead-light'>
    <thead class='thead-light'>
        <tr>
            <th scope='col'>#</th>
            <th scope='col'>Название</th>
            <th scope='col'>Тип объявления</th>
            <th scope='col'>Площадь MIN</th>
            <th scope='col'>Площадь MAX</th>
            <th scope='col'></th>
            <th scope='col'>Разовая<br>выгрузка<br>за месяц</th>
            <th scope='col'></th>
        </tr>
    </thead>
        {% for pol in object_list %}
 
        
        <tr>
            <th scope='row'>{{ forloop.counter }}</td>
            <th>{{ pol.name }}</th>
            <td>{{ pol.ads_type }}</td>
            <td>{{ pol.min_area }}</td>
            <td>{{ pol.max_area }}</td>

            <td><a href="{% url 'data:update' pk=pol.pk %}" class='btn btn-primary btn-sm'>Изменить</a></td>
            
            <td><a href="{% url 'data:get_df_now' pk=pol.pk %}" class='btn btn-primary btn-sm'>Отправить</a></td>

            <td><a href="{% url 'data:remove' pk=pol.pk %}" class='btn btn-secondary btn-sm'>Удалить</a></td>
        </tr>

        {% endfor %}


    
</table>




{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endif %}



</div>


{% endblock %}


