{% extends 'base.html' %}

{% block content %}

<a href="{% url 'account:check_payment' %}" class='btn btn-info btn-lg'>Check Status</a>

<br><br>

<table class='table thead-light'>

    <thead class='thead-light'>
        <tr>
            <th scope='col'>#</th>
            <th scope='col'>Пользователь</th>
            <th scope='col'>Количество<br>полигонов</th>
            <th scope='col'>Дата истечения<br>подписки</th>
            <th scope='col'>Оплачено</th>
            <th scope='col'>Комментарий</th>
        </tr>
    </thead>
        {% for user in user_list %}
        <tr>
            <th scope='row'>{{ forloop.counter }}</td>
            <td><a href="{% url 'admin:auth_user_change' user.id %}">{{ user.username }}</a></td>
            <td>{{ user.polygon.count }}</td>
            <td>{{ user.profile.expiration_date }}</td>
            <td class='is_paid'>{{ user.profile.paid }}</td>
            <td>{{ user.profile.comment }}</td>
        </tr>
        {% endfor %}
    
</table>

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>


{% endblock %}