{% extends 'base.html' %}

{% block content %}

<br>
<table class='table thead-light'>
    <caption><a href="{% url 'account:check_payment' %}" class='btn btn-info'>Check Status</a></caption>
    <thead class='thead-light'>
        <tr>
            <th scope='col'>#</th>
            <th scope='col'>Пользователь</th>
            <th scope='col'>Количество<br>полигонов</th>
            <th scope='col'>Дата истечения<br>подписки</th>
            <th scope='col'>Оплачено</th>
        </tr>
    </thead>
        {% for user in user_list %}
        <tr>
            <th scope='row'>{{ forloop.counter }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.polygon.count }}</td>
            <td>{{ user.profile.expiration_date }}</td>
            <td class='is_paid'>{{ user.profile.paid }}</td>
        </tr>
        {% endfor %}
    
</table>




{% endblock %}